# Binaries
ekslogs
bin/
*.exe
*.dll
*.so
*.dylib

# Test related
*.test
*.out
coverage.html

# Dependencies
/vendor/

# IDE related
.idea/
.vscode/
*.swp
*.swo
*~

# OS related
.DS_Store
Thumbs.db

# Others
*.log
